<!--
  Generated template for the UpdatePersonalInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Personal Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div style="padding: 0px 18px 18px 18px;">
    <form novalidate [formGroup]="signupform">
    <ion-item>
      <ion-label color="primary" inline>IR ID Number: *</ion-label>
      <ion-input [(ngModel)]="irid" maxlength="8" formControlName="irid" [disabled]="irid!=''"></ion-input>
    </ion-item>
    <ion-item *ngIf="!iridIsValid && signupform.get('irid').touched" no-lines>
      <div class="error" >
        Invalid IRID!
      </div>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>Email Address *</ion-label>
        <ion-input type="email" [(ngModel)]="email_add" formControlName="email" [disabled]="email!=''"></ion-input>
      </ion-item>
      <ion-item *ngIf="!signupform.get('email').valid && signupform.get('email').touched" no-lines>
          <div class="error" >
            Invalid Email Address format!
          </div>
        </ion-item>
   
        <ion-item>
          <ion-label color="primary" floating>First Name *</ion-label>
          <ion-input [(ngModel)]="f_name" formControlName="f_name" [disabled]="f_name!=''"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupform.get('f_name').valid && signupform.get('f_name').touched" no-lines>
            <div class="error" >
              Alphabetic characters only!
            </div>
          </ion-item>
    
    <ion-item>
      <ion-label color="primary" floating>Last Name *</ion-label>
      <ion-input [(ngModel)]="l_name" formControlName="l_name" [disabled]="l_name!=''"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupform.get('l_name').valid && signupform.get('l_name').touched" no-lines>
        <div class="error" >
            Alphabetic characters only!
        </div>
      </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Name to appear on card *</ion-label>
      <ion-input [(ngModel)]="card_name" formControlName="card_name" [disabled]="card_name!=''"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupform.get('card_name').valid && signupform.get('card_name').touched" no-lines>
        <div class="error" >
            Alphabetic characters only!
        </div>
      </ion-item>
    <ion-item>
      <ion-label color="primary">Gender</ion-label>
      <ion-select [(ngModel)]="gender" mode="md" interface="popover" [ngModelOptions]="{standalone: true}">
        <ion-option selected="true" value="Female">Female</ion-option>
        <ion-option value="Male">Male</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Date of birth</ion-label>
      <ion-datetime displayFormat="MMMM DD, YYYY" max="2000-12-31" [(ngModel)]="myDate" formControlName="bday"></ion-datetime>
    </ion-item>
        <ion-item>
          <ion-label color="primary" floating>City/Municipality</ion-label>
          <ion-input [(ngModel)]="city_address" formControlName="city"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupform.get('city').valid && signupform.get('city').touched" no-lines>
            <div class="error" >
                Alphabetic characters only!
            </div>
          </ion-item>
     
    
        <ion-item >
          <ion-label color="primary" floating>Country</ion-label>
          <ion-input [(ngModel)]="country" formControlName="country"  (click)="loadSelectionPage('COUNTRY')"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupform.get('country').valid && signupform.get('country').touched" no-lines>
            <div class="error" >
               Country Required!
            </div>
          </ion-item>
      
    <ion-item>
      <ion-label color="primary" floating>Mobile Phone No.</ion-label>
      <ion-input type="tel" [(ngModel)]="mob_no" formControlName="mob_no"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupform.get('mob_no').valid && signupform.get('mob_no').touched" no-lines>
        <div class="error" >
            Numeric characters only!
        </div>
      </ion-item>
  </form>
  </div>
</ion-content>
<ion-footer no-border>
    <button ion-button full color="button" class="cont-btn" [disabled]="signupform.invalid" (click)="updateData()">CONTINUE</button>
</ion-footer>
