page-onsite-payment {
    img{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 45vh;
        object-fit: cover;
        z-index: 0 !important;
        opacity: 0.2;
    }
    button{
        height: 14vw !important;
    }
}
