page-forgot-password {
    ion-header{
        .toolbar-background {
            background-color: transparent;
          }
    }
    > ion-content {
        > div.scroll-content, > div.fixed-content {
            margin-top: 0 !important;
        }
    }
    ion-header{
        button{
          span{
            color: map-get($colors,dark) !important;
          }
        }
      }
    ion-list{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        ion-item{
            background-color: transparent !important;
        }
        input{
            border-color: rgb(197, 197, 197);
            border-style: solid;
            border-radius: 10px;
            width: 72vw;
            height: 6vh;
            border-width: 1px;
            text-align: center;
        }
        button{
            width: 71vw;
            height: 7vh !important;
            span{
                font-size: 14px !important;
            }
        }
        a{
            color: rgb(39, 39, 39);
            line-height: 24px;
        }
    }
    .back-logo{
        width:100%;
        height: 100%;
        position: relative;
        img{
            height: 71%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
            opacity: 0.15;
        }
    }
    ion-label{
        font-style: normal !important;
      }
    p{
        font-size:20px;
        color: rgb(9, 77, 71);
    }
}
