page-upload {
    .tile{
        background-color: #EAEAEA;
        height: 24vh;
        position: relative;
        >div{
            width: 60%;
            height: 62%;
            text-align: center;
            position: absolute;
            top: 50%;
            font-size: 16px;
            left: 50%;
            transform: translate(-50%, -50%);
            color: map-get($colors , primary );
            img{
                height: 55px;
                opacity: 0.5;
            }
        }
    }
    ion-item{
        background-color: transparent !important;
        ion-label{
          margin: 7px 8px 5px 0 !important;
        }
        input{
          margin:7px 8px 5px 0 !important;
        }
      }
      .item{
        min-height: 3rem;
        padding-left: 0;
        font-size: 13px;
      }
      .terms-and-cond{
          width: 80%;
          margin: 0 auto;
          ion-label{
              margin-top: 0 !important;
          }
      }
      ion-header{
        ion-title{
            .toolbar-title-md{
                padding-right: 20vw;
            }
        }
    }
}
