<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="./assets/imgs/isb-logo.png" style="height: 34px;"/></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="type" mode="md">
    <ion-segment-button value="e">
      Events
    </ion-segment-button>
    <ion-segment-button value="pe">
      Past Events
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'e'">
      <h4>EVENTS</h4>
      <div *ngIf="eventsData?.length > 0">
      <div *ngFor="let event of eventsData" >
        <ion-card (click)="goToEventView(event.id)">
            <img [src]="event.thumbnail"/>
            <div class="event-content">
              <h6>{{event.title}}</h6>
              <p class="block-with-text">{{event.longdesc}}</p>
            </div>
            <div class="event-date">{{event.startDate2}}</div>
          </ion-card>
        </div>
      </div>
        <div  *ngIf="eventsData?.length == 0" class="no-exp">
          <h3><ion-icon name="custom-no-list"></ion-icon></h3>
      </div>
    </div>
    <div *ngSwitchCase="'pe'">
      <h4>PAST EVENTS</h4>
      <div *ngIf="eventsData2?.length > 0">
      <div *ngFor="let event of eventsData2" >
        <ion-card (click)="goToEventView(event.id, 'yes')">
            <img [src]="event.thumbnail"/>
            <div class="event-content">
              <h6>{{event.title}}</h6>
              <p class="block-with-text">{{event.longdesc}}</p>
            </div>
            <div class="event-date">{{event.startDate2}}</div>
          </ion-card>
        </div>
      </div>
        <div  *ngIf="eventsData2?.length == 0" class="no-exp">
          <h3><ion-icon name="custom-no-list"></ion-icon></h3>
      </div>
    </div>
  </div>
  
</ion-content>
